---
---

$background-color: #fafafa;
$primary-color: #9fb0b8;
$secondary-color: #254553;

html,
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
  color: $primary-color;
  display: table;
  margin: 0;

  a {
    color: lighten($primary-color, 20%);
    font-size: 40px;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover,
    &:active,
    &:focus {
      color: $secondary-color;
      text-decoration: none;
    }
  }

  .wrapper {
    display: table-cell;
    text-align: center; // horizontal
    vertical-align: middle; // vertical
  }
}

h1,
h2 {
  color: $primary-color;
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 2.55em;
  line-height: 1.35em;

  strong {
    color: $secondary-color;
    font-weight: 300;
  }
}

h2 {
  font-size: 1.8em;
}

.header {
  .logo {
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
  }
}

.icons {
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  text-align: center;

  li {
    display: inline;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
